.navbg {
  background-color: rgb(39, 37, 37);

  font-weight: 700;
  font-size: large;
}
.navbg li {
  list-style: none;
}
.navbg li a {
  text-decoration: none !important;

  color: white !important;
}
